/*
 * Główny plik dla stylów.
 * Wszystkie partials podłączamy tutaj.
 */

@import './utils/variables';
@import './base/common';
@import './base/container';
@import './base/section';

@import './layout/header';

// Style dla pliku z przykładem HTML fragmentu
@import './example';
