@charset "UTF-8";
/*
 * Główny plik dla stylów.
 * Wszystkie partials podłączamy tutaj.
 */
body {
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
  list-style-type: none;
}

p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  margin: auto;
}

a:visited {
  color: inherit;
}

a:hover {
  color: #ff6b09;
}

.container {
  margin: 0 auto;
  padding: 0 20px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding: 0 40px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
    padding: 0 20px;
  }
}

@media screen and (min-width: 480px) {
  .section {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

@media screen and (min-width: 768px) {
  .section {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.header {
  color: #b9b9b9;
  padding-top: 30px;
  background-color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.214;
  text-transform: uppercase;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__consultation {
  display: none;
  color: #ff6b09;
}

.header__consultation-link {
  display: block;
  margin: 30px 0px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.214;
  text-transform: uppercase;
  padding: 24px 27px;
  border: 2px solid #ff6b09;
}

.header__wraper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.navigation {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto 60px auto auto;
}

.nav__item:not(:last-child) {
  margin-right: 40px;
}

.burger__icon {
  display: block;
  fill: #000;
  width: 21px;
  height: 12px;
  margin: 0px 0px 0px 40px;
}

.burger__icon:hover {
  fill: #ff6b09;
}

@media screen and (min-width: 480px) {
  .navigation {
    display: none;
  }
  .header__consultation {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .navigation {
    display: none;
  }
  .header {
    padding-top: 40px;
  }
  .header__consultation {
    display: block;
  }
}

@media screen and (min-width: 1280px) {
  .navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header__consultation {
    display: block;
  }
  .burger__icon {
    display: none;
  }
}

.logo {
  color: #111518;
  width: 155px;
  height: 45px;
}

.logo__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: #111518;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 26px;
  line-height: 32px;
  letter-spacing: 0.04em;
}

.logo__link:hover {
  color: #111518;
}

.logo__element {
  text-shadow: 0px 4px 4px #00000040;
}

.logo__icon {
  fill: #ff6b09;
  width: 22px;
  height: 30px;
}

.logo__undertitle {
  font-weight: 700;
  font-size: 8px;
  line-height: 1.25;
  letter-spacing: 0.18em;
  text-shadow: 0px 4px 4px #00000040;
}

.logo__accent {
  color: #ff6b09;
}
/*# sourceMappingURL=main.css.map */