$main-font: 'Montserrat', sans-serif;
$main-color: #ff6b09;

$main-bgc: #ffffff;
$dark-bgc: #111518;
$grey-bgc: #f1f1f1;

$dark-colorFont: #111518;
$darkGrey-colorFont: #3d3d3d;
$grey-colorFont: #b9b9b9;
$white-colorFont: #ffffff;
