<header>
    <ul class="header__list">
        <div class="logo"></div>
        <nav class="header__navigation">
            <ul class="header__navigation-list">
                <li class="header__item"><a href="" class="header__link">studying program</a></li>
                <li class="header__item"><a href="" class="header__link">about</a></li>
                <li class="header__item"><a href="" class="header__link">training option</a></li>
                <li class="header__item"><a href="" class="header__link">contacts</a></li>
            </ul>
        </nav>
        <div class="header__consultation"><a href="" class="header__consultation-link">consultation by phone</a></div>
    </ul>
</header>