<header class="header container">
    <ul class="header__list">
        <div class="logo"></div>
        <nav class="navigation">
            <ul class="nav__list">
                <li class="nav__item"><a href="" class="nav__link">studying program</a></li>
                <li class="nav__item"><a href="" class="nav__link">about</a></li>
                <li class="nav__item"><a href="" class="nav__link">training option</a></li>
                <li class="nav__item"><a href="" class="nav__link">contacts</a></li>
            </ul>
        </nav>
        <div class="header__consultation"><a href="" class="header__consultation-link">consultation by phone</a></div>
    </ul>
</header>