.header {
    width: 100vw;
    color: $grey-colorFont;
    padding-top: 30px;
    background-color: $main-bgc;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.214;
    text-transform: uppercase;

    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }


    &__wraper {
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        justify-content: flex-end;
    }
}

.consultation__btn {
    display: none;
    color: $main-color;
    background-color: $main-bgc;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.214;
    text-transform: uppercase;
    padding: 24px 27px;
    border: 2px solid $main-color;
    cursor: pointer;
}

.navigation {
    display: none;
    align-items: center;
}

.nav__list {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto 60px auto auto;
}

.nav__item:not(:last-child) {
    margin-right: 40px;

}


.burger__icon {
    display: block;
    fill: $menu-color;
    width: 21px;
    height: 12px;
    margin: 0px 0px 0px 40px;

    &:hover {
        fill: $main-color;
    }
}


@media screen and (min-width: 480px) {
    .navigation {
        display: none;
    }

    // .consultation__btn {
    //     display:none;
    // }
}


@media screen and (min-width: 768px) {

    .navigation {
        display: none;
    }

    .header {
        padding-top: 40px;

        .consultation__btn {
            display: block;
        }
    }
}


@media screen and (min-width: 1280px) {
    .navigation {
        display: flex;
    }

    .header {
        width:100%;

    }

    .header__consultation {
        display: block;
    }

    .burger__icon {
        display: none;
    }
}